#about-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#about-title {
    color: var(--primary);
}
#about-text {
    text-align: center;
    margin-top: 20px;
}

.about-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-card-info {
    width: 90%;
}
.about-card-img {
    width: 90%;
    margin-top: 50px;
    border-radius: 10px;
}
.about-card-name {
    color: var(--borders);
    text-transform: uppercase;
    margin-top: 10px;
    text-align: left;
}
.about-card-title {
    width: 90%;
    text-align: left;
    margin-top: 0;
}
.about-card-desc {
    width: 90%;
    text-align: left;
    margin-top: 20px;
}

footer {
    margin-top: 100px;
}

.about-card-desc {
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    #about-landing {
        align-items: start;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
    }
    #about-text {
        text-align: left;
    }
    .about-card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-bottom: 50px;
    }
    .about-card-img {
        width: 250px;
        height: 350px;
        object-fit: cover;
        margin-right: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }
    #about-caption {
        margin-top: 50px;
    }
    
}


