#download-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#download-title {
    text-align: center;
}
#download-text {
    text-align: center;
    margin-top: 20px;
}

.download-card {
    border: 1px solid var(--borders);
    border-radius: 10px;
    background: var(--bg);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;
    transition: 0.3s;
    text-decoration: none;
    color: var(--borders);
}
.download-card:hover, .download-card:focus {
    filter: brightness(80%);
    cursor: pointer;
}

.download-card-title {
    color: var(--borders);
    text-transform: uppercase;
}
.download-icon {
    width: 35px;
}

@media screen and (min-width: 768px) {
    #downloads {
        display: flex;
        flex-direction: row;
        margin-bottom: 100px;
    }
    .download-card {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #download-caption {
        width: 100%;
        text-align: center;
        display: block;
        margin: 0;
    }
}
