@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --bg: #F3F3F3;
    --primary: #5A57FF;
    --borders: #545765;
    --blue: #00AAFF;
}
body {
    margin: 0;
    padding: 2%;
    font-family: "Inter", sans-serif;
    background: var(--bg);
    color: var(--borders);
    overflow-x: hidden;
    padding-top: 70px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}
.header {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    color: var(--borders);
}
.subheader {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
}
.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.img-caption {
    font-size: 12px;
    color: var(--borders);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    width: 100%;
}

.button {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 45px;
    border: 2px solid transparent;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}
.button:hover, .button:focus {
    cursor: pointer;
    filter: brightness(80%);
}

.button-fill {
    background: var(--primary);
}

.button-outline {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    background: var(--bg);
}

header {
    width: 96%;
    background: var(--bg);
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav {
    position: fixed;
    z-index: 101;
    width: 90%;
    height: 97.5%;
    padding: 2.5%;
    top: 0;
    right: -100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: 0.3s;
}

#menu-close-button {
    margin-bottom: 30px;
}

.menu-link {
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
}
.menu-link:hover, .menu-link:focus {
    color: var(--primary);
}

footer {
    background: var(--primary);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer-header {
    color: white;
}

#footer-email {
    margin-top: 10px;
}

#footer-links {
    margin-top: 100px;
}
.footer-link {
    display: flex;
    border-bottom: 2px solid white;
    width:fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.footer-link:hover .footer-link-arrow {
    margin-left: 15px;
}

.footer-link-name {
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
.footer-link-arrow {
    margin-left: 5px;
    font-family: "Inter", sans-serif;
    transition: 0.3s;
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 95px;
    }
    header {
        height: 25px;
    }
    .title {
        font-size: 96px;
    }
    .header {
        font-size: 50px;
    }
    .subheader {
        font-size: 24px;
    }
    footer {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #footer-info, #footer-links {
        margin: 0;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }
    #footer-info {
        justify-content: center;
    }
    #footer-links {
        width: 150px;
    }
    .footer-link {
        height: fit-content;
        margin: 0;
        margin-bottom: 10px;
    }
    #footer-email {
        margin-top: 10px;
    }
    #footer-copyright {
        margin-top: 10px;
    }
}
