@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --bg: #F3F3F3;
    --primary: #5A57FF;
    --borders: #545765;
}
body {
    margin: 0;
    padding: 2%;
    font-family: "Inter", sans-serif;
    background: var(--bg);
    color: var(--borders);
    overflow-x: hidden;
    padding-top: 70px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}
.header {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    color: var(--borders);
}
.subheader {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
}
.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.button {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 45px;
    border: 2px solid transparent;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}
.button:hover, .button:focus {
    cursor: pointer;
    filter: brightness(90%);
}

.button-fill {
    background: var(--primary);
}

.button-outline {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

header {
    width: 96%;
    background: var(--bg);
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav {
    position: fixed;
    z-index: 101;
    width: 90%;
    height: 97.5%;
    padding: 2.5%;
    top: 0;
    right: -500px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: 0.3s;
}

#menu-close-button {
    margin-bottom: 30px;
}

.menu-link {
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
}
.menu-link:hover, .menu-link:focus {
    color: var(--primary);
}

