#landing {
    background-image: url("../images/brain.jpg");
    background-position: -70px;
    background-size: cover;
    border-radius: 10px;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#landing-text {
    margin-top: 10px;
}

#landing-button {
    margin-top: 20px;
}

#landing-caption, #banner-caption {
    display: block;
    text-align: right;
}

#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#about-title {
    color: var(--primary);
}
#about-text {
    text-align: center;
    margin-top: 20px;
}
.about-card-img {
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
}
.about-card-name {
    color: var(--borders);
    text-transform: uppercase;
    width: 90%;
    margin-top: 10px;
    text-align: left;
}
.about-card-title {
    width: 90%;
    text-align: left;
    margin-top: 0;
}
#about-caption {
    width: 90%;
}

#about-button {
    margin-top: 50px;
}
.about-link {
    display: none;
}

#download {
    background-image: url("../images/eyeball.jpg");;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#download-header {
    text-transform: none;
    color: white;
}

#download-button {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    #landing {
        background-position: center top;
        align-items: start;
        padding-left: 150px;
    }
    #about {
        align-items: start;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #about-text {
        text-align: left;
    }
    #about-cards {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    .about-card-img {
        width: 250px;
        height: 350px;
        margin: 0;
        object-fit: cover;
    }
    .about-card {
        margin-right: 20px;
    }
    .about-card-name, .about-card-title {
        width: 100%;
    }
    .about-link {
        display: flex;
        border-bottom: 2px solid var(--blue);
        height: fit-content;
    }
    .about-link-name, .about-link-arrow {
        color: var(--blue);
    }
    #about-button {
        display: none;
    }
    #about-caption {
        width: 100%;
    }
    
    #download {
        align-items: start;
        justify-content: start;
        padding-left: 100px;
        padding-top: 100px;
        height: 500px;
    }
}


