#landing {
    background-image: url("../images/brain.jpg");
    background-position: -70px;
    background-size: cover;
    border-radius: 10px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#landing-text {
    margin-top: 10px;
}

#landing-button {
    margin-top: 20px;
}
#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#about-title {
    color: var(--primary);
}
#about-text {
    text-align: center;
    margin-top: 20px;
}
.about-card-img {
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
}
.about-card-name {
    color: var(--borders);
    text-transform: uppercase;
    width: 90%;
    margin-top: 10px;
    text-align: left;
}
.about-card-title {
    width: 90%;
    text-align: left;
    margin-top: 0;
}

#about-button {
    margin-top: 50px;
}

#download {
    background-image: url("../images/eyeball.jpg");;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#download-header {
    text-transform: none;
    color: white;
}

#download-button {
    margin-top: 20px;
}


footer {
    background: var(--primary);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer-header {
    color: white;
}

#footer-email {
    margin-top: 10px;
}

#footer-links {
    margin-top: 100px;
}
.footer-link {
    display: flex;
    border-bottom: 2px solid white;
    width:fit-content;
    margin-top: 20px;
    transition: 0.3s;
}
.footer-link:hover .footer-link-arrow {
    margin-left: 15px;
}

.footer-link-name {
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
.footer-link-arrow {
    margin-left: 5px;
    font-family: "Inter", sans-serif;
    transition: 0.3s;
}
